<div class="inspector">

  <ng-container *ngIf="(selection$ | async) as obj; else empty">

    <h4>Object Details</h4>

    <div class="row">
      <label>ID</label>
      <span class="mono">{{ obj.objectId }}</span>
    </div>

    <div class="section">
      <h5>Transform</h5>

      <div class="row">
        <label>Position</label>
        <span>
          {{ obj.transform.position[0] | number:'1.2-2' }},
          {{ obj.transform.position[1] | number:'1.2-2' }},
          {{ obj.transform.position[2] | number:'1.2-2' }}
        </span>
      </div>

      <div class="row">
        <label>Rotation</label>
        <span>
          {{ obj.transform.rotation[0] | number:'1.2-2' }},
          {{ obj.transform.rotation[1] | number:'1.2-2' }},
          {{ obj.transform.rotation[2] | number:'1.2-2' }}
        </span>
      </div>

      <div class="row">
        <label>Scale</label>
        <span>
          {{ obj.transform.scale[0] | number:'1.2-2' }},
          {{ obj.transform.scale[1] | number:'1.2-2' }},
          {{ obj.transform.scale[2] | number:'1.2-2' }}
        </span>
      </div>
    </div>

    <div class="section" *ngIf="obj.material?.color as color">
      <h5>Material</h5>
      <div class="row">
        <label>Color</label>
        <span class="color">#{{ color }}</span>
        <span class="swatch" [style.background]="'#' + color"></span>
      </div>
    </div>

  </ng-container>

  <ng-template #empty>
    <div class="inspector empty">
      No object selected
    </div>
  </ng-template>

</div>

